body { 
	text-align: center; 
	font-family: sans-serif; 
	margin: 0; 
	padding: 0; 
	background: #f8f8f8;
}

#header {
	text-align: center;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
	/*height: 72px;*/
}


#logo, #search, #user, #user ul li a {	
	height: 60px;
	line-height: 60px;
}

#logo {
	/*position: absolute;*/
	/*top: 10px;*/
	/*left: 10px;*/
	display: inline-block;
	/*background-color: #222;*/
	height: 60px;
	line-height: 60px;
	width: 280px;
	font-weight: bold;
	font-size: 25pt;
	vertical-align: middle;
	background: url('../img/spjdrsemafore.png') no-repeat 20px center;
}

.modernizrsvg #logo {
	width: 260px;
	background: url('../img/spjdrsemafore.svg') no-repeat 20px center;
}

#menu {
	position: relative;
	text-align: left;
	margin: 0 auto;
	clear: both;
	max-width: 1200px;
	width: 100%;
}

/* highlights */

#highlights {
	clear: both;
	background-color: white;
	height: 9px;
	font-size: 12pt;
	transition: height .4s;
}

#highlights a {
	height: 9px;
	display: inline-block;
	margin: 0;
	overflow: hidden;
	transition: height .4s;
}

#highlights span {
	display: inline-block;
	height: 0;
	font-weight: normal;
	padding-top: 10px;
	color: rgba(0,0,0,.5);
}

#highlights:hover {
	height: 42px;
}

#highlights:hover a {
	height: 42px;
}

#highlights:hover span {
	padding-top: 12px;
}

#highlights:hover a {
	height: 42px;
}

#highlights a:hover {
	background-color: red;
}

/* Window */


h1 { 
	font-family: 'Bitter';
	border-bottom: 2px dotted #ddd;
}

/**/

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

a.signalering { background: #4daf4a; color: #1c7e19;}

/*window*/

.window {
	font-size: 110%;
	padding: 10px 20px;
	max-width: 820px;
	margin: 20px 240px 40px 20px;
}

.title {
	padding: 10px 0 10px 75px;
	margin: 0;
	background: transparent url('../img/Ad_signal_flags.png') 0px 0px no-repeat;
	text-align: left;
}

.help {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 210px;
}


/*  Sema */


.sema {
	height: 430px;
	width: 700px;
	margin: 0 auto;
	position: relative;
}


.result {
	display: inline-block;
	letter-spacing: 1px;
	font-family: Courier;
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 5px;
	margin: 0 auto 20px;
	min-height: 1em;
	min-width: 4em;
	line-height: 1em;
	vertical-align: top;
	border-radius: 3px;
}

.blink {
	background-image: url('../img/thin_cursor.gif');
	background-position: right bottom;
	background-repeat: repeat-y;
	height: 1em;
	width: 3px;
	display: inline-block;
	vertical-align: top;
}

.man {
	background-image: url('../img/s/man.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 400px;
	width: 700px;
	position: absolute;
	top: 00px;
	left: 0;
	z-index: 10;
}

.left {
	background-image: url('../img/s/leftarm.png');
	background-position: left top;
	background-repeat: no-repeat;
	height: 150px;
	width: 500px;
	position: absolute;
	top: 30px;
	left: 65px;
}

.right {
	background-image: url('../img/s/rightarm.png');
	background-position: right top;
	background-repeat: no-repeat;
	height: 150px;
	width: 500px;
	position: absolute;
	top: 30px;
	right: 65px;
}

/* controls */

.controls {
	margin: 0 auto;
	max-width: 600px;
	text-align: right;
	font-size: 70%;
}

	.controls a {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 20px;
		background-color: #eee;
		background-image: url('../img/flags.png');
		padding-right: 5px;
		background-repeat: no-repeat;
		line-height: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
		box-shadow: 1px 1px 4px #888;
	}

	.modernizrsvg .controls a {
		background-image: url('../img/flags.svg');
	}

	.controls .press {
		background-color: #e5e5e5;
		box-shadow: 1px 1px 1px #888;
	}

	/* flags */

	#lt {
		background-position: 0px 0px;
	}

	#lm {
		background-position: 0px -50px;
	}

	#lb {
		background-position: -2px -100px;
	}

	#rt {
		background-position: 0px -150px;
	}

	#rm {
		background-position: 0px -200px;
	}

	#rb {
		background-position: 0px -250px;
	}


.footer {
	font-size: 90%;
	background-color: #ddd;
	padding: 20px;
}


/* clearfix */

.clearfix {clear: both;}
